doctype html
html(ng-app='JSONedit')
    head
        script(src='assets/bower_components/jquery/dist/jquery.min.js')
        script(src='assets/bower_components/jquery-ui/jquery-ui.min.js')
        script(src='assets/bower_components/angular/angular.min.js')
        script(src='assets/bower_components/angular-ui-sortable/sortable.min.js')
        link(href='assets/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet', type='text/css')
        script(src='scripts/directives.js')
        script(src='scripts/JSONedit.js')
        link(href='styles/JSONedit.css', rel='stylesheet', type='text/css')
    body
        #mainView(ng-controller='MainViewCtrl')
            h2 Edit content
            .jsonView
                json(child='jsonData', default-collapsed='false', type='object')
            hr
            div
                textarea#jsonTextarea(ng-model='jsonString')
                span.red(ng-if='!wellFormed') JSON not well-formed!
            button(ng-click="saveFile()") Save

        - var jsonString = JSON.stringify(jsonContent)
        script.
            var jsonToEdit = !{jsonString};