- var modules = public.modules
- var modulesData = {}
- for (var folder in modules) {
- 	if(typeof modules[folder]._data !== 'undefined') {
- 		var module = modules[folder]
-   	var moduleData = module._data
- 		moduleData.order = folder.split('_')[0]
-   	modulesData[folder.split('_')[1]] = moduleData
- 	}
- }

each module in modulesData
			- var stylesheet = 'modules/' + module.order + '_' + module.id + '/' + module.id + '.css'
			link(href=stylesheet, rel='stylesheet')

each module in modulesData
		if module.scripts
			each script in module.scripts
				- var folder = 'modules/' + module.order + '_' + module.id + '/'
				script(src='#{folder}#{script}')

- var modules = public.modules
- var modulesData = {}
- for(var property in modules) {
- 	var module, moduleData, dropdown, moduleFolder;
-   if(typeof modules[property]._data !== 'undefined') {
-   	moduleData = modules[property]._data
-   	module = property.split('_')[1]
-   	order = property.split('_')[0]
-   	modulesData[module] = moduleData[module]
- 		modulesData[module].order = order
-     moduleFolder = modules[order + '_' + module]
-     for(var property in moduleFolder) {
-       if(property !== '_contents' && property !== '_data' && typeof moduleFolder[property]._data !== 'undefined') {
-         var moduleName = property.split('_')[1]
-         var order = property.split('_')[0]
-         var parentModule = module.order + '_' + module.id
- 				moduleFolder[property]._data[moduleName].order = order
-         var subModule = moduleFolder[property]._data[moduleName]
- 				modulesData[module].submodules = modulesData[module].submodules || {}
-         modulesData[module].submodules[moduleName] = subModule
- 				var subModuleFolder = moduleFolder[property]
- 		    for(var innerproperty in subModuleFolder) {
- 		      if(innerproperty !== '_contents' && innerproperty !== '_data' && typeof subModuleFolder[innerproperty]._data !== 'undefined') {
- 		        var innerModuleName = innerproperty.split('_')[1]
- 		        var order = innerproperty.split('_')[0]
- 		        var parentModule = subModuleFolder._data[moduleName].order + '_' + subModuleFolder._data[moduleName].id
- 						subModuleFolder[innerproperty]._data[innerModuleName].order = order
- 		        var subModule = subModuleFolder[innerproperty]._data[innerModuleName]
- 						modulesData[module].submodules[moduleName].submodules = modulesData[module].submodules[moduleName].submodules || {}
- 		        modulesData[module].submodules[moduleName].submodules[innerModuleName] = subModule
- 		      }
- 		    }
-       }
-     }
-   }
- }

 - var data = modulesData['getting-started'].submodules['about-this-document']
        != partial("modules/1_getting-started/1_about-this-document/about-this-document", data)