header
    .row.between-xs
        .col-xs-9
            .box
                h1.left=title
                //h2.left=subtitle
        .col-xs-3
            .box
                iframe.right(src='https://ghbtns.com/github-btn.html?user=caiovaccaro&repo=harplyss&type=star&count=false&size=large&v=2', frameborder='0', scrolling='0', width='77px', height='30px')

